<div>
    <br />
    <div class="panel panel-default">
        <div class="panel-heading">Posts | All</div>
        <div class="panel-body">
            <div class="input-group">
                <a class="btn btn-primary" href="#/post/new" ng-click="newPost()"> New Post</a>
                <input type="text" id="searchText" class="form-control pull-right" placeholder="Search for..." ng-model="search_txt">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">
                        <i class="text-muted glyphicon glyphicon-search"></i>
                    </button>
                </span>
            </div><!-- /input-group -->
            <div><p style="text-align:center;color:red">{{message}}</p></div>
            <div class="table table-responsive">
                <table class="table table-striped">
                    <thead style="background-color:#333;color:#fff">
                        <tr>
                            <th>Title</th>
                            <th>Content</th>
                            <th>Tags</th>
                            <th>Author</th>
                            <th>Created Date</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="post in posts | filter:search_txt">
                            <td>
                                {{post.Title}}
                            </td>
                            <td>
                                {{post.Content}}
                            </td>
                            <td>{{post.Tags}}</td>
                            <td>{{post.Author}}</td>
                            <td>{{post.CreatedDate.slice(6, -2) | date: 'yyyy-MM-dd' }}</td>
                            <td>
                                <a class="btn btn-primary" href="#/post/{{post.PostId}}">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </a>
                            </td>
                            <td>
                                <a id="deleteButton" name="submitForm" class="btn btn-danger"
                                   ng-click="deletePost(post.PostId)">
                                    <i class="glyphicon glyphicon-trash"></i> Delete
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>